<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Favicons -->
    <link rel="apple-touch-icon" src="/img/blockchain.png" sizes="180x180">
    <link rel="icon" src="/img/blockchain.png" sizes="32x32" type="image/png">
    <link rel="icon" src="/img/blockchain.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/safari-pinned-tab.svg"
        color="#563d7c">
    <link rel="icon" href="/img/blockchain.ico">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/offcanvas.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/offcanvas.js"></script>
    <title>RealEstateTransaction</title>
</head>

<body>
    <section id="nav"></section>
    <section id="nav_second"></section>

    <main role="main" class="container">
        <hr>
        <h2>개인 정보</h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">ID : </th>
                    <td><%=mb_id%></td>
                </tr>
                <tr>
                    <th scope="row">Account : </th>
                    <td><%=mb_account%></td>
                </tr>
                <tr>
                    <th scope="row">btccoin : </th>
                    <td><%=btc%> btc</td>
                </tr>
                <tr>
                    <th scope="row">Ethereum : </th>
                    <td><%=eth%> eth</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="input-group mb-3">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning btc" onclick="addBtcAmount(1)">1 BTC</button>
                <button type="button" class="btn btn-warning btc" onclick="addBtcAmount(10)">10 BTC</button>
                <button type="button" class="btn btn-warning btc" onclick="addBtcAmount(100)">100 BTC</button>
            </div>
            <input type="number" id="btc_amount" class="form-control" placeholder="0" aria-label="0"
                aria-describedby="button-addon2" readonly>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="charge_btc">충전 요청</button>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                    onclick="initBtcAmount()">초기화</button>
            </div>
        </div>
        <hr>
        <div class="input-group mb-3">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary eth" onclick="addEthAmount(10)">10 ETH</button>
                <button type="button" class="btn btn-primary eth" onclick="addEthAmount(100)">100 ETH</button>
                <button type="button" class="btn btn-primary eth" onclick="addEthAmount(1000)">1000 ETH</button>
            </div>
            <input type="number" id="eth_amount" class="form-control" placeholder="0" aria-label="0"
                aria-describedby="button-addon2" readonly>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="charge_eth">충전 요청</button>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                    onclick="initEthAmount()">초기화</button>
            </div>
        </div>
        <div class="alert alert-warning" role="alert" hidden=true>btc 충전 요청 완료(1~5분 소요 예상)</div>
        <div class="alert alert-primary" role="alert" hidden=true>Ethereum 충전 요청 완료(1~5분 소요 예상)</div>
    </main>
    <input type="hidden" name="mb_id_session" id="mb_id_session" value="<%=mb_id%>">
    <input type="hidden" name="mb_account" id="mb_account" value="<%=mb_account%>">
</body>
<script>

</script>
<script src="/js/nav.js"></script>
<script src="/js/nav_second.js"></script>
<script>
    function addBtcAmount(amount) {
        document.getElementById('btc_amount').value = Number(document.getElementById('btc_amount').value) + amount;
    }

    function addEthAmount(amount) {
        document.getElementById('eth_amount').value = Number(document.getElementById('eth_amount').value) + amount;
    }

    function initBtcAmount() {
        document.getElementById('btc_amount').value = 0;
    }

    function initEthAmount() {
        document.getElementById('eth_amount').value = 0;
    }

    document.getElementById('charge_eth').addEventListener('click', () => {
        var data = {
            'recipient': document.getElementById('mb_account').value,
            'amount': document.getElementById('eth_amount').value,
            'coin_type': '2'
        };

        var url = 'http://localhost:8080/coin/charge';

        sendAjax(url, data);

        document.getElementById('eth_amount').value = '';
    })

    document.getElementById('charge_btc').addEventListener('click', () => {
        var data = {
            'recipient': document.getElementById('mb_account').value,
            'amount': document.getElementById('btc_amount').value,
            'coin_type': '1'
        };

        var url = 'http://localhost:8080/coin/charge';

        sendAjax(url, data);

        document.getElementById('btc_amount').value = '';
    })

    function sendAjax(url, data) {
        data = JSON.stringify(data);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(data);

        xhr.addEventListener('load', function () {
            var result = JSON.parse(xhr.responseText);
            if (result.result) {
                showResult(result.coin_type);
            }
        })
    }

    function showResult(coin_type) {
        var alert = document.getElementsByClassName('alert');

        for (let index = 0; index < alert.length; index++) {
            const element = alert[index];
            element.hidden = true;
        }
        if (coin_type == '1') {
            alert[0].hidden = false;
        }else if (coin_type == '2') {
            alert[1].hidden = false;
        }
    }
</script>

</html>