<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/form-validation.css">
    <link rel="stylesheet" href="/css/offcanvas.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/form-validation.js"></script>
    <title>부동산 수정</title>
</head>

<body>
    <section id="nav"></section>
    <section id="nav_second"></section>
    <div class="container">
        <div class="py-5 text-center">
            <hr>
            <h2>부동산 수정</h2>
            <hr>
        </div>

        <div class="row">
            <div class="col-md-12 order-md-1">
                <form class="needs-validation" novalidate>

                    <div class="mb-3">
                        <label for="address">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="title" required
                            value="<%=title%>">
                        <div class="invalid-feedback">
                            Please enter title for realestate.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Seller</label>
                        <input type="text" class="form-control" id="seller" name="seller" placeholder="Seller" required
                            value="<%=mb_account%>" readonly>
                        <div class="invalid-feedback">
                            This is your address for blockchain.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Address</label>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="locationAddress" name="locationAddress"
                                    placeholder="Address" readonly value="<%=locationAddress%>">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="button" class="btn btn-primary btn-lg btn-block"
                                    onclick="sample5_execDaumPostcode()" value="address search"><br>
                            </div>
                        </div>
                        <div id="map" style="width:100%;height:400px;margin-top:10px;display:none"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="CoinType">CoinType</label>
                            <select class="custom-select d-block w-100" name="coin_type" id="coin_type" required>
                                <option value="1">Bitcoin</option>
                                <option value="2">Ethereum</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" id="price" name="price" placeholder="Value"
                                required value="<%=price%>">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Blockchain Account Password</label>
                        <input type="text" class="form-control" id="account_password" name="account_password"
                            placeholder="Blockchain Account Password" required>
                        <div class="invalid-feedback">
                            This is value for your realestate.
                        </div>
                    </div>

                    <hr class="mb-4">
                    <div class="alert alert-warning" role="alert" hidden=true></div>
                    <button class="btn btn-primary btn-lg btn-block" type="button" id="modify">modify</button>
                </form>
            </div>
        </div>
    </div>
    <input type="hidden" name="mb_id_session" id="mb_id_session" value="<%=mb_id%>">
    <input type="hidden" name="mb_account" id="mb_account" value="<%=mb_account%>">
    <input type="hidden" name="contract_address" id="contract_address" value="<%=contract_address%>">
    <input type="hidden" name="coinType" id="coinType" value="<%=coinType%>">
</body>
<script src="/js/nav.js"></script>
<script src="/js/nav_second.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c00ea0bf28cce3c71be998107d5a7f76&libraries=services"></script>
<script src="/js/registration.js"></script>
<script>
    $(()=>{
        document.getElementById('coin_type').value = document.getElementById('coinType').value;
    })

    document.getElementById('modify').addEventListener('click', () => {
        var data = {
            'contract_address' : document.getElementById('contract_address').value,
            'title': document.getElementById('title').value,
            'seller': document.getElementById('seller').value,
            'locationAddress': document.getElementById('locationAddress').value,
            'coinType': document.getElementById('coin_type').value,
            'price': document.getElementById('price').value,
            'account_password': document.getElementById('account_password').value
        }
        sendAjax('http://localhost:8080/realestateExchange/modify', data);
    })

    function sendAjax(url, data) {
        data = JSON.stringify(data);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(data);

        xhr.addEventListener('load', function () {
            var result = JSON.parse(xhr.responseText);
            if (result.result === -1) window.location.href = '/';
            showResult(result.result, result.message);
        })
    }

    function showResult(result, message) {
        var alert = document.getElementsByClassName('alert');

        for (let index = 0; index < alert.length; index++) {
            const element = alert[index];
            element.hidden = true;
        }

        alert[result].hidden = false;
        alert[result].innerText = message;
    }
</script>

</html>
